.yarl__fullsize {
    height: 100%;
    width: 100%
}

.yarl__relative {
    position: relative
}

.yarl__portal {
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity var(--yarl__fade_animation_duration, .25s) var(--yarl__fade_animation_timing_function, ease);
    z-index: var(--yarl__portal_zindex, 9999)
}

.yarl__portal_open {
    opacity: 1
}

.yarl__container {
    background-color: var(--yarl__container_background_color, var(--yarl__color_backdrop, #000));
    bottom: 0;
    left: 0;
    outline: none;
    overflow: hidden;
    -ms-scroll-chaining: var(--yarl__controller_overscroll-behavior, contain);
    overscroll-behavior: var(--yarl__controller_overscroll-behavior, contain);
    position: absolute;
    right: 0;
    top: 0;
    touch-action: var(--yarl__controller_touch_action, none);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.yarl__carousel {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    justify-content: center;
    opacity: var(--yarl__pull_down_opacity, 1);
    transform: translate(var(--yarl__swipe_offset, 0), var(--yarl__pull_down_offset, 0));
    width: calc(100% + (var(--yarl__carousel_slides_count) - 1)*(100% + var(--yarl__carousel_spacing_px, 0)*1px + var(--yarl__carousel_spacing_percent, 0)*1%))
}

.yarl__carousel_with_slides {
    -moz-column-gap: calc(var(--yarl__carousel_spacing_px, 0)*1px + 100/(var(--yarl__carousel_slides_count)*100 + (var(--yarl__carousel_slides_count) - 1)*var(--yarl__carousel_spacing_percent, 0))*var(--yarl__carousel_spacing_percent, 0)*1%);
    grid-column-gap: calc(var(--yarl__carousel_spacing_px, 0)*1px + 100/(var(--yarl__carousel_slides_count)*100 + (var(--yarl__carousel_slides_count) - 1)*var(--yarl__carousel_spacing_percent, 0))*var(--yarl__carousel_spacing_percent, 0)*1%);
    column-gap: calc(var(--yarl__carousel_spacing_px, 0)*1px + 100/(var(--yarl__carousel_slides_count)*100 + (var(--yarl__carousel_slides_count) - 1)*var(--yarl__carousel_spacing_percent, 0))*var(--yarl__carousel_spacing_percent, 0)*1%)
}

.yarl__flex_center {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center
}

.yarl__slide {
    flex: 1 1;
    overflow: hidden;
    padding: calc(var(--yarl__carousel_padding_px, 0)*1px + 100/(var(--yarl__carousel_slides_count)*100 + (var(--yarl__carousel_slides_count) - 1)*var(--yarl__carousel_spacing_percent, 0))*var(--yarl__carousel_padding_percent, 0)*1%);
    position: relative
}

[dir=rtl] .yarl__slide {
    --yarl__direction: -1
}

.yarl__slide_image {
    -webkit-touch-callout: none;
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    touch-action: var(--yarl__controller_touch_action, none);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

@media screen and (min-width: 800px) {
    .yarl__slide_image {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        -webkit-transform-style: preserve-3d
    }
}

.yarl__slide_image_cover {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.yarl__slide_image_loading {
    opacity: 0
}

.yarl__slide_placeholder {
    left: 50%;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.yarl__slide_loading {
    -webkit-animation: yarl__delayed_fadein 1s linear;
    animation: yarl__delayed_fadein 1s linear;
    color: var(--yarl__slide_icon_loading_color, var(--yarl__color_button, hsla(0, 0%, 100%, .8)))
}

.yarl__slide_loading line {
    -webkit-animation: yarl__stroke_opacity 1s linear infinite;
    animation: yarl__stroke_opacity 1s linear infinite
}

.yarl__slide_loading line:first-of-type {
    -webkit-animation-delay: -1.875s;
    animation-delay: -1.875s
}

.yarl__slide_loading line:nth-of-type(2) {
    -webkit-animation-delay: -1.75s;
    animation-delay: -1.75s
}

.yarl__slide_loading line:nth-of-type(3) {
    -webkit-animation-delay: -1.625s;
    animation-delay: -1.625s
}

.yarl__slide_loading line:nth-of-type(4) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s
}

.yarl__slide_loading line:nth-of-type(5) {
    -webkit-animation-delay: -1.375s;
    animation-delay: -1.375s
}

.yarl__slide_loading line:nth-of-type(6) {
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s
}

.yarl__slide_loading line:nth-of-type(7) {
    -webkit-animation-delay: -1.125s;
    animation-delay: -1.125s
}

.yarl__slide_loading line:nth-of-type(8) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.yarl__slide_error {
    color: var(--yarl__slide_icon_error_color, red);
    height: var(--yarl__slide_icon_error_size, 48px);
    width: var(--yarl__slide_icon_error_size, 48px)
}

@media (prefers-reduced-motion) {

    .yarl__portal,
    .yarl__slide {
        transition: unset
    }

    .yarl__slide_loading,
    .yarl__slide_loading line {
        -webkit-animation: unset;
        animation: unset
    }
}

.yarl__toolbar {
    bottom: auto;
    display: flex;
    justify-content: flex-end;
    left: auto;
    padding: var(--yarl__toolbar_padding, 8px);
    position: absolute;
    right: 0;
    top: 0
}

[dir=rtl] .yarl__toolbar {
    bottom: auto;
    left: 0;
    right: auto;
    top: 0
}

.yarl__icon {
    height: var(--yarl__icon_size, 32px);
    width: var(--yarl__icon_size, 32px)
}

.yarl__button {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--yarl__button_background_color, transparent);
    border: var(--yarl__button_border, 0);
    color: var(--yarl__color_button, hsla(0, 0%, 100%, .8));
    cursor: pointer;
    filter: var(--yarl__button_filter, drop-shadow(2px 2px 2px rgba(0, 0, 0, .8)));
    line-height: 0;
    margin: var(--yarl__button_margin, 0);
    outline: none;
    padding: var(--yarl__button_padding, 8px)
}

.yarl__button:focus {
    color: var(--yarl__color_button_active, #fff)
}

.yarl__button:focus:not(:focus-visible) {
    color: var(--yarl__color_button, hsla(0, 0%, 100%, .8))
}

.yarl__button:focus-visible {
    color: var(--yarl__color_button_active, #fff)
}

@media (hover: hover) {

    .yarl__button:focus-visible:hover,
    .yarl__button:focus:hover,
    .yarl__button:hover {
        color: var(--yarl__color_button_active, #fff)
    }
}

.yarl__button:disabled {
    color: var(--yarl__color_button_disabled, hsla(0, 0%, 100%, .4));
    cursor: default
}

.yarl__navigation_next,
.yarl__navigation_prev {
    padding: var(--yarl__navigation_button_padding, 24px 16px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.yarl__navigation_prev {
    left: 0
}

[dir=rtl] .yarl__navigation_prev {
    left: unset;
    right: 0;
    transform: translateY(-50%) rotate(180deg)
}

.yarl__navigation_next {
    right: 0
}

[dir=rtl] .yarl__navigation_next {
    left: 0;
    right: unset;
    transform: translateY(-50%) rotate(180deg)
}

.yarl__no_scroll {
    height: 100%;
    overflow: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior: none
}

@-webkit-keyframes yarl__delayed_fadein {
    0% {
        opacity: 0
    }

    80% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes yarl__delayed_fadein {
    0% {
        opacity: 0
    }

    80% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes yarl__stroke_opacity {
    0% {
        stroke-opacity: 1
    }

    to {
        stroke-opacity: .125
    }
}

@keyframes yarl__stroke_opacity {
    0% {
        stroke-opacity: 1
    }

    to {
        stroke-opacity: .125
    }
}

.yarl__thumbnails {
    display: flex;
    height: 100%
}

.yarl__thumbnails_bottom,
.yarl__thumbnails_end .yarl__thumbnails_track,
.yarl__thumbnails_start .yarl__thumbnails_track,
.yarl__thumbnails_top {
    flex-direction: column
}

.yarl__thumbnails_wrapper {
    flex: 1 1;
    position: relative
}

.yarl__thumbnails_container {
    -webkit-touch-callout: none;
    background-color: var(--yarl__thumbnails_container_background_color, var(--yarl__color_backdrop, #000));
    flex: 0 0 auto;
    overflow: hidden;
    padding: var(--yarl__thumbnails_container_padding, 16px);
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.yarl__thumbnails_vignette {
    --yarl__thumbnails_vignette_size: 12%;
    pointer-events: none;
    position: absolute
}

@media (min-width: 1200px) {
    .yarl__thumbnails_vignette {
        --yarl__thumbnails_vignette_size: 8%
    }
}

@media (min-width: 2000px) {
    .yarl__thumbnails_vignette {
        --yarl__thumbnails_vignette_size: 5%
    }
}

.yarl__thumbnails_bottom .yarl__thumbnails_vignette,
.yarl__thumbnails_top .yarl__thumbnails_vignette {
    background: linear-gradient(to right, var(--yarl__color_backdrop, #000) 0, transparent var(--yarl__thumbnails_vignette_size, 12%) calc(100% - var(--yarl__thumbnails_vignette_size, 12%)), var(--yarl__color_backdrop, #000) 100%);
    height: 100%;
    left: 0;
    right: 0
}

.yarl__thumbnails_end .yarl__thumbnails_vignette,
.yarl__thumbnails_start .yarl__thumbnails_vignette {
    background: linear-gradient(to bottom, var(--yarl__color_backdrop, #000) 0, transparent var(--yarl__thumbnails_vignette_size, 12%) calc(100% - var(--yarl__thumbnails_vignette_size, 12%)), var(--yarl__color_backdrop, #000) 100%);
    bottom: 0;
    top: 0;
    width: 100%
}

.yarl__thumbnails_track {
    grid-gap: var(--yarl__thumbnails_thumbnail_gap, 16px);
    gap: var(--yarl__thumbnails_thumbnail_gap, 16px);
    outline: none
}

.yarl__thumbnails_thumbnail {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--yarl__thumbnails_thumbnail_background, #000);
    border-radius: var(--yarl__thumbnails_thumbnail_border_radius, 4px);
    border: var(--yarl__thumbnails_thumbnail_border, 1px) var(--yarl__thumbnails_thumbnail_border_style, solid) var(--yarl__thumbnails_thumbnail_border_color, var(--yarl__color_button, hsla(0, 0%, 100%, .8)));
    box-sizing: content-box;
    cursor: pointer;
    flex: 0 0 auto;
    height: var(--yarl__thumbnails_thumbnail_height, 80px);
    outline: none;
    overflow: hidden;
    padding: var(--yarl__thumbnails_thumbnail_padding, 4px);
    position: relative;
    width: var(--yarl__thumbnails_thumbnail_width, 120px)
}

.yarl__thumbnails_thumbnail_active {
    border-color: var(--yarl__thumbnails_thumbnail_active_border_color, var(--yarl__color_button_active, #fff))
}

.yarl__thumbnails_thumbnail_fadein {
    -webkit-animation: yarl__thumbnails_thumbnail_fadein var(--yarl__thumbnails_thumbnail_fadein_duration, .5s) ease-in-out var(--yarl__thumbnails_thumbnail_fadein_delay, 0s) forwards;
    animation: yarl__thumbnails_thumbnail_fadein var(--yarl__thumbnails_thumbnail_fadein_duration, .5s) ease-in-out var(--yarl__thumbnails_thumbnail_fadein_delay, 0s) forwards;
    opacity: 0
}

.yarl__thumbnails_thumbnail_fadeout {
    -webkit-animation: yarl__thumbnails_thumbnail_fadeout var(--yarl__thumbnails_thumbnail_fadeout_duration, .5s) ease-in-out var(--yarl__thumbnails_thumbnail_fadeout_delay, 0s) forwards;
    animation: yarl__thumbnails_thumbnail_fadeout var(--yarl__thumbnails_thumbnail_fadeout_duration, .5s) ease-in-out var(--yarl__thumbnails_thumbnail_fadeout_delay, 0s) forwards;
    cursor: unset
}

.yarl__thumbnails_thumbnail_placeholder {
    cursor: unset;
    visibility: hidden
}

.yarl__thumbnails_thumbnail:focus {
    box-shadow: var(--yarl__thumbnails_thumbnail_focus_box_shadow, #000 0 0 0 2px, var(--yarl__color_button, hsla(0, 0%, 100%, .8)) 0 0 0 4px)
}

.yarl__thumbnails_thumbnail:focus:not(:focus-visible) {
    box-shadow: unset
}

.yarl__thumbnails_thumbnail:focus-visible {
    box-shadow: var(--yarl__thumbnails_thumbnail_focus_box_shadow, #000 0 0 0 2px, var(--yarl__color_button, hsla(0, 0%, 100%, .8)) 0 0 0 4px)
}

.yarl__thumbnails_thumbnail_icon {
    color: var(--yarl__thumbnails_thumbnail_icon_color, var(--yarl__color_button, hsla(0, 0%, 100%, .8)));
    filter: var(--yarl__thumbnails_thumbnail_icon_filter, drop-shadow(2px 2px 2px rgba(0, 0, 0, .8)));
    height: var(--yarl__thumbnails_thumbnail_icon_size, 32px);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: var(--yarl__thumbnails_thumbnail_icon_size, 32px)
}

.yarl__thumbnails_contain_image {
    -o-object-fit: contain;
    object-fit: contain
}

@-webkit-keyframes yarl__thumbnails_thumbnail_fadein {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes yarl__thumbnails_thumbnail_fadein {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes yarl__thumbnails_thumbnail_fadeout {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes yarl__thumbnails_thumbnail_fadeout {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.yarl__slide_captions_container {
    background: var(--yarl__slide_captions_container_background, rgba(0, 0, 0, .5));
    left: var(--yarl__slide_captions_container_left, 0);
    padding: var(--yarl__slide_captions_container_padding, 16px);
    position: absolute;
    right: var(--yarl__slide_captions_container_right, 0);
    -webkit-transform: translateZ(0)
}

.yarl__slide_title {
    color: var(--yarl__slide_title_color, #fff);
    font-size: var(--yarl__slide_title_font_size, 125%);
    font-weight: var(--yarl__slide_title_font_weight, bolder);
    max-width: calc(100% - var(--yarl__toolbar_width, 0px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.yarl__slide_title_container {
    top: var(--yarl__slide_title_container_top, 0)
}

.yarl__slide_description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--yarl__slide_description_max_lines, 3);
    color: var(--yarl__slide_description_color, #fff);
    display: -webkit-box;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
    text-align: var(--yarl__slide_description_text_align, start)
}

.yarl__slide_description_container {
    bottom: var(--yarl__slide_description_container_bottom, 0)
}

.yarl__counter {
    bottom: var(--yarl__counter_bottom, unset);
    color: var(--yarl__counter_color, var(--yarl__color_button, hsla(0, 0%, 100%, .8)));
    filter: var(--yarl__counter_filter, drop-shadow(2px 2px 2px rgba(0, 0, 0, .8)));
    left: var(--yarl__counter_left, 0);
    line-height: var(--yarl__counter_line_height, var(--yarl__icon_size, 32px));
    margin: var(--yarl__counter_margin, var(--yarl__toolbar_padding, 8px));
    padding: var(--yarl__counter_padding, var(--yarl__button_padding, 8px));
    position: var(--yarl__counter_position, absolute);
    right: var(--yarl__counter_right, unset);
    top: var(--yarl__counter_top, 0);
    -webkit-user-select: var(--yarl__counter_user_select, none);
    -moz-user-select: var(--yarl__counter_user_select, none);
    -ms-user-select: var(--yarl__counter_user_select, none);
    user-select: var(--yarl__counter_user_select, none)
}

@font-face {
    font-family: swiper-icons;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
    font-weight: 400;
    font-style: normal
}

:root {
    --swiper-theme-color: #007aff
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-android .swiper-slide,
.swiper-wrapper {
    transform: translateZ(0)
}

.swiper-pointer-events {
    touch-action: pan-y
}

.swiper-pointer-events.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
    height: auto
}

.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-3d .swiper-slide-shadow {
    background: rgba(0, 0, 0, .15)
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory
}

.swiper-vertical.swiper-css-mode>.swiper-wrapper {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory
}

.swiper-centered>.swiper-wrapper:before {
    content: "";
    flex-shrink: 0;
    order: 9999
}

.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-start: var(--swiper-centered-offset-before);
    margin-inline-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-horizontal>.swiper-wrapper:before {
    height: 100%;
    min-height: 1px;
    width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-before: var(--swiper-centered-offset-before);
    margin-block-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-vertical>.swiper-wrapper:before {
    width: 100%;
    min-width: 1px;
    height: var(--swiper-centered-offset-after);
}

.swiper-centered>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: center center
}

.swiper-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}

:root {
    --swiper-navigation-size: 44px
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color))
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-feature-settings: normal, ;
    font-variant: normal;
    line-height: 1
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "prev"
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: "next"
}

.swiper-button-lock {
    display: none
}